html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body, p, dl, dd, ul, ol, li, div, h1, h2, h3, h4, h5, h6, form, input, table, tr, td {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑", Arial;
}
ul, ol {
  list-style: none;
}
img {
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* 修改滚动条样式，仅适用于谷歌和与谷歌使用同内核 webkit 的浏览器 */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: 6px;
  background-color: #ebebeb;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

div:focus {
  outline: none;
}

// 清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}