$test-color: red;
$primary-color: #266bff;
$link-color: #266bff;
$theme-color: #266bff;
$font-theme-color: #266bff;
$font-main-color: #000000;
$font-sub-color: #2a2b34;
$theme-opcity-background-color: rgba(255, 255, 255, 0.9);
